*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: #eeeeee;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.top-bar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: white;
    position: sticky;
    top: 0;
    align-items: center;
}

.top-bar img{
    height: 2rem;
}

.buttons{
    display: flex;
}

.top-bar .notificationsIcon{
    cursor: pointer;
}

.top-bar .notificationsIcon img{
    height: 1.7rem;
    margin-right: 1.8rem;
}

.top-bar .notificationsIcon:first-child:hover{
    filter: 100%;
}

.signout img{
    filter: brightness(0) saturate(100%) invert(22%) sepia(94%) saturate(2357%) hue-rotate(349deg) brightness(73%) contrast(102%);
}

a{
    text-decoration: none;
}

.analisis{
    margin: 2rem;
    padding: 2rem;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    color: rgb(39, 167, 149);
    font-weight: bold;
}

.cuentas{
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.cuentas h1{
    font-size: 1.35rem;
    color: #555555;
}

.cuenta{
    background-color: #eeeeee;
    margin-top: 1.5rem;
    padding: 1.2rem;
    cursor: pointer;
}

.cuenta ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cuenta .iban{
    margin-top: 0.5rem;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.tarjetas{
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.tarjetas h1{
    font-size: 1.35rem;
    color: #555555;
}

.tarjetas ul{
    list-style: none;
    margin-top: 1.5rem;
    border-top: 1px solid darkgray;
}

.tarjetas ul li{
    padding: 1rem;
    border-bottom: 1px solid darkgray;
}

.tarjetas ul li .tipo-tarjeta{
    font-weight: bold;
    color: #3995ff;
}

.tarjetas ul li .numero{
    margin-top: 0.7rem;
}





.modal{
    background-color: white;
    border: 1px solid #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 6.45rem;
    right: 0rem;
    width: 30rem;
    height: 30rem;
    opacity:0;
    pointer-events:none;
    transition: all 0.4s;
    padding: 2rem;
}

.modal .times{
    width: 3rem;
    position: absolute;
    top: 0.4rem;
    right: 0.7rem;
    cursor: pointer;
}

.modal .close{
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.modal h1{
    font-size: 1.5rem;;
}

.notifications{
    height: 20rem;
    overflow-y: auto;
    margin-top: 2rem;
    border-top: 1px solid darkgray;
}

.notification{
    padding: 1.3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid darkgray;
}



.modal .delete{
    position: absolute;
    color: #ff4747;
    text-decoration: underline;
    font-size: 0.9rem;
    bottom: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}